extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home

  .container
    h1= title
    .container
    p Search the Colenso letters.

  .container
    form(action="/search", method="get")
      input(type="text", name="searchString")
      input(type="submit", value="Search")
